Package: com.lost-entrepreneur439.ios15icons
Name: iOS 15 Icons
Version: 1.2.5
Architecture: iphoneos-arm
Description: This theme brings the app icons used in iOS 15 to older versions of iOS. This should is designed for and works with iOS 7 and newer. Use Anemone to apply the theme.
Author: Lost-Entrepreneur439 (Ella)
Maintainer: Lost-Entrepreneur439 (Ella)
Section: Themes
Depends: com.anemonetheming.anemone
